body {
    background-color: black;
    font-family: "MicrosoftYaHeiUI-Bold";
}

.nav-item {
   display: inline-block;
   width: 100px;
   height: 30px;
   line-height: 30px;
   padding-top: 32px;
   margin-left: 40px;
   color: grey;
   font-size: 20px;
   text-align: center;
   border-top: 15px solid black;
}

.nav-item:hover {
    border-top: 15px solid yellow;
}

h {
    font-size: 40px;
    color: white;
    font-family: "MicrosoftYaHeiUI";
    text-align: center;
    width: 800px;
    margin: 200px auto 0;
}