body {
    background-color: black;
    font-family: "MicrosoftYaHeiUI-Bold";
}

.nav-item {
    display:inline-block;
	width:120px;
	height:28px;
	line-height:28px;
	padding-top:30px;
	margin-left:40px;
	color:#abb0b7;
	font-size:18px;
	text-align:center;
	border-top:12px solid #2d3a4b;