.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after{
	clear:both;
	display:block;
	content:"";
}

.header {
    width: 1200px;
    height: 84px;
    background-color: rgba(0, 0, 0, .4);
    margin: 0 auto;
}

.header .logo {
    width: 126px;
    height: 26px;
    margin: 29px 0 0 25px;
} 

.header .nav {
    margin: 36px 38px 0 0;
    height: 12px;
}

.header .nav i {
    display: block;
    width: 13px;
    height: 12px;
    margin-left: 16px;
}

.header .nav i:nth-of-type(1){
	background:url(../img/bag.png)
}
.header .nav i:nth-of-type(2){
	background:url(../img/列表.png)
}
.header .nav i:nth-of-type(3){
	background:url(../img/search.png)
}

.main {
    width: 1200px;
    margin: 70px auto 0 auto; 
}


.main .tips {
    margin: 70px auto 0 auto;
    width: 250px;
}

.main .tips li {
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    border: 2px solid #f2f2f2;
    margin-right: 8px;
    font-size: 15px;
    color: #686868;
}

.main .tips li:last-of-type{
	margin:0;
} 

.main .pics {
    margin-top: 18px;
}

.main .pics li {
    margin: 5px;
}

.main .pics img {
    height: 250px;
    width: 376px;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: #232323;
    overflow: hidden;
}

.footer .iconlist {
    height: 20px;
    margin: 44px auto 0 auto;
    width: 260px;
}

.footer .iconlist i {
    width: 20px;
    height: 20px;
    background-color: red;
    margin-right: 20px;
}
.footer .iconlist i:nth-of-type(1){
	background:url(../img/contact.png)
}
.footer .iconlist i:nth-of-type(2){
	background:url(../img/contact1.png)
}
.footer .iconlist i:nth-of-type(3){
	background:url(../img/dribble.png)
}
.footer .iconlist i:nth-of-type(4){
	background:url(../img/facebook.png)
}
.footer .iconlist i:nth-of-type(5){
	background:url(../img/google.png)
}
.footer .iconlist i:nth-of-type(6){
	background:url(../img/ins.png)
}
.footer .iconlist i:last-of-type{
    margin: 0;
	background:url(../img/twitter.png)
}

.footer .description {
    font-size: 15px;
    color: #919191;
    text-align: center;
    margin-top: 21px;
    height: 20px;
    line-height: 20px;
}

.footer .contact {
    font-size: 12px;
    color: #919191;
    height: 20px;
    line-height: 20px;
    margin: 25px auto 0 auto;
    width: 222px;
}

.footer .contact li {
    margin-right: 10px;
}

.footer .contact li:last-of-type {
    margin: 0;
}

